<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Diagnostic_Center_Management_System.Properties.Settings.DCMSConnectionString"
            connectionString="Data Source=LAPTOP-QG567PAV\SQLEXPRESS;Initial Catalog=DCMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Diagnostic_Center_Management_System.Properties.Settings.DCMS"
            connectionString="Data Source=LAPTOP-QG567PAV\SQLEXPRESS;Initial Catalog=DCMS;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="Diagnostic_Center_Management_System.Properties.Settings.DCMSConnectionString1"
            connectionString="Data Source=TRK34EMC\SQLEXPRESS;Initial Catalog=DCMS;Persist Security Info=True;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>